<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <h6>If you weren't registered, your credentials were saved and redirected here, otherwise you were directly redirected here</h6>
    <form action="/auth/local" method="POST">
    <label for="username">Username:</label> <br>
    <input type="text" name="username" id="username"> <br>
    <label for="password">Password:</label> <br>
    <input type="password" name="password" id="password"> <br>
    <button type="submit">Login</button>
    </form>
</body>
</html>