*{
    box-sizing: border-box;
    font-size:26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    font-size:2rem;
    position: relative;
    top:50px;
}
h6 {
    color:gray;
    font-size:0.7rem;
}
label {
   margin:25%;
   font-size:1.5rem;
}
input {
    border:none;
    outline:none;
    border-bottom: 1px solid black;
    margin:10px;
}
button {
    border:none;
    outline:none;
    padding:20px;
    background-color:rgba(50, 156, 8, 0.808);
    border-radius:10px;
    color:white;
    margin:32%;
    cursor: pointer;
}
button:hover {
    background-color:rgb(50, 156, 8);
}